## Import Library

In [97]:
import numpy as np

import neuralnetwork

from neuralnetwork import layers
from neuralnetwork import activations

## Test Model Summary

### Model from IF4071 Lecture Slide

In [98]:
model1 = neuralnetwork.Sequential()

model1.add(layers.LSTM(1, input_shape=(2, 2)))
model1.add(layers.Dense(1, activation=activations.Linear))

model1.summary()

Model: Sequential
================================================================================
Layer (type)                       Output Shape                       Param #
================================================================================
lstm_1 (LSTM)                      (None, 1)                          16
--------------------------------------------------------------------------------
dense_1 (Dense)                    (None, 1)                          2
================================================================================
Total params: 18

### Model with 32 Timesteps, 6 Features, and 10 Units LSTM

In [99]:
model2 = neuralnetwork.Sequential()

model2.add(layers.LSTM(10, input_shape=(32, 6)))
model2.add(layers.Dense(1, activation=activations.ReLU))

model2.summary()

Model: Sequential
================================================================================
Layer (type)                       Output Shape                       Param #
================================================================================
lstm_1 (LSTM)                      (None, 10)                         680
--------------------------------------------------------------------------------
dense_1 (Dense)                    (None, 1)                          11
================================================================================
Total params: 691

## Test LSTM

### IF4071 Lecture Forward Propagation Example

In [100]:
# Define Weights

_x = np.array([[[1, 2]], [[.5, 3]]])
uf = np.array([[.7, .45]])
ui = np.array([[.95, .8]])
uc = np.array([[.45, .25]])
uo = np.array([[.6, .4]])

wf = np.array([[.1]])
wi = np.array([[.8]])
wc = np.array([[.15]])
wo = np.array([[.25]])

bf = np.array([[.15]])
bi = np.array([[.65]])
bc = np.array([[.2]])
bo = np.array([[.1]])

In [101]:
layer1 = layers.LSTM(1, input_shape=(2, 2))

layer1.set_w(wf, wi, wc, wo, bf, bi, bc, bo)
layer1.set_u(uf, ui, uc, uo)

layer1._init_cp()
layer1._init_hp()

layer1.forward_propagation(_x, debug=True)

Timestep 1
ft	: [[0.8641271]]
it	: [[0.98201379]]
~ct	: [[0.86172316]]
Ct	: [[1.71035113]]
ot	: [[0.8519528]]
ht	: [[0.79801619]]

Timestep 2
ft	: [[0.87322746]]
it	: [[0.98468385]]
~ct	: [[0.86035315]]
Ct	: [[2.34070142]]
ot	: [[0.85808855]]
ht	: [[0.84233244]]

### LSTM Forward Propagation with Random Weights

In [102]:
layer2 = layers.LSTM(1, input_shape=(10, 4))

layer2.init_layer()

layer2.forward_propagation(np.random.rand(10, 1, 4), debug=True)

Timestep 1
ft	: [[0.86531802]]
it	: [[0.759599]]
~ct	: [[0.98610862]]
Ct	: [[1.61436515]]
ot	: [[0.7983602]]
ht	: [[0.73752715]]

Timestep 2
ft	: [[0.82844585]]
it	: [[0.72841752]]
~ct	: [[0.96490358]]
Ct	: [[2.04026678]]
ot	: [[0.75744042]]
ht	: [[0.73226668]]

Timestep 3
ft	: [[0.77352513]]
it	: [[0.65102749]]
~ct	: [[0.919397]]
Ct	: [[2.17675034]]
ot	: [[0.60817836]]
ht	: [[0.59273259]]

Timestep 4
ft	: [[0.82173025]]
it	: [[0.70011156]]
~ct	: [[0.95414116]]
Ct	: [[2.45670685]]
ot	: [[0.67160837]]
ht	: [[0.66181125]]

Timestep 5
ft	: [[0.86049192]]
it	: [[0.76746108]]
~ct	: [[0.97099695]]
Ct	: [[2.85917877]]
ot	: [[0.80682401]]
ht	: [[0.80154036]]

Timestep 6
ft	: [[0.8531554]]
it	: [[0.74565341]]
~ct	: [[0.97875185]]
Ct	: [[3.16913346]]
ot	: [[0.81493234]]
ht	: [[0.81205686]]

Timestep 7
ft	: [[0.8650484]]
it	: [[0.7533553]]
~ct	: [[0.97991411]]
Ct	: [[3.47967732]]
ot	: [[0.78434097]]
ht	: [[0.78285259]]

Timestep 8
ft	: [[0.77839991]]
it	: [[0.64845931]]
~ct	: [[0.92476233]]
Ct	: [[3.30825126]]
ot	: [[0.61953642]]
ht	: [[0.61788063]]

Timestep 9
ft	: [[0.79249797]]
it	: [[0.66403162]]
~ct	: [[0.93324336]]
Ct	: [[3.24148551]]
ot	: [[0.68196794]]
ht	: [[0.67988532]]

Timestep 10
ft	: [[0.8823509]]
it	: [[0.79207785]]
~ct	: [[0.98467545]]
Ct	: [[3.64006726]]
ot	: [[0.8072358]]
ht	: [[0.80612404]]

## LSTM Forward Propagation with BitCoin Data

### Prepare Dataset

In [103]:
import pandas as pd

pd.options.mode.chained_assignment = None

training_data   = pd.read_csv("dataset/bitcoin/training.csv")
test_data       = pd.read_csv("dataset/bitcoin/test.csv")

In [104]:
training_data

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 31, 2017",2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,"Jul 30, 2017",2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,"Jul 29, 2017",2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
3,"Jul 28, 2017",2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
4,"Jul 27, 2017",2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"
...,...,...,...,...,...,...,...
1551,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000"
1552,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000"
1553,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000"
1554,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000"
1555,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000"

In [105]:
test_data

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Aug 07, 2017",3212.78,3397.68,3180.89,3378.94,"1,482,280,000","52,987,300,000"
1,"Aug 06, 2017",3257.61,3293.29,3155.60,3213.94,"1,105,030,000","53,720,900,000"
2,"Aug 05, 2017",2897.63,3290.01,2874.83,3252.91,"1,945,700,000","47,778,200,000"
3,"Aug 04, 2017",2806.93,2899.33,2743.72,2895.89,"1,002,120,000","46,276,200,000"
4,"Aug 03, 2017",2709.56,2813.31,2685.14,2804.73,"804,797,000","44,666,400,000"
5,"Aug 02, 2017",2727.13,2762.53,2668.59,2710.67,"1,094,950,000","44,950,800,000"
6,"Aug 01, 2017",2871.30,2921.35,2685.61,2718.26,"1,324,670,000","47,321,800,000"

### Predict Missing Values in Volume Feature Using Linear Regression

In [106]:
def change_date_format(date):
    month_ = { 'Jan': '1', 'Feb': '2', 'Mar': '3', 'Apr': '4', 'May': '5', 'Jun': '6', 'Jul': '7', 'Aug': '8', 'Sep': '9', 'Oct': '10', 'Nov': '11', 'Dec': '12' }

    year    = date[8:12]
    month   = month_[date[0:3]]
    day     = date[4:6]

    return '{0}/{1}/{2}'.format(year, month, day)

In [107]:
training_data['Date'] = training_data['Date'].apply(lambda date: change_date_format(date))
training_data = training_data.set_index(['Date'])[::-1]

test_data['Date'] = test_data['Date'].apply(lambda date: change_date_format(date))
test_data = test_data.set_index(['Date'])[::-1]

In [108]:
training_data

              Open     High      Low    Close         Volume      Market Cap
Date
2013/4/28   135.30   135.98   132.10   134.21              -   1,500,520,000
2013/4/29   134.44   147.49   134.00   144.54              -   1,491,160,000
2013/4/30   144.00   146.93   134.05   139.00              -   1,597,780,000
2013/5/01   139.00   139.89   107.72   116.99              -   1,542,820,000
2013/5/02   116.38   125.60    92.28   105.21              -   1,292,190,000
...            ...      ...      ...      ...            ...             ...
2017/7/27  2538.71  2693.32  2529.34  2671.78    789,104,000  41,816,500,000
2017/7/28  2679.73  2897.45  2679.73  2809.01  1,380,100,000  44,144,400,000
2017/7/29  2807.02  2808.76  2692.80  2726.45    803,746,000  46,246,700,000
2017/7/30  2724.39  2758.53  2644.85  2757.18    705,943,000  44,890,700,000
2017/7/31  2763.24  2889.62  2720.61  2875.34    860,575,000  45,535,800,000

[1556 rows x 6 columns]

In [109]:
test_data

              Open     High      Low    Close         Volume      Market Cap
Date
2017/8/01  2871.30  2921.35  2685.61  2718.26  1,324,670,000  47,321,800,000
2017/8/02  2727.13  2762.53  2668.59  2710.67  1,094,950,000  44,950,800,000
2017/8/03  2709.56  2813.31  2685.14  2804.73    804,797,000  44,666,400,000
2017/8/04  2806.93  2899.33  2743.72  2895.89  1,002,120,000  46,276,200,000
2017/8/05  2897.63  3290.01  2874.83  3252.91  1,945,700,000  47,778,200,000
2017/8/06  3257.61  3293.29  3155.60  3213.94  1,105,030,000  53,720,900,000
2017/8/07  3212.78  3397.68  3180.89  3378.94  1,482,280,000  52,987,300,000

In [110]:
training_data['Market Cap'] = training_data['Market Cap'].apply(lambda e: float(e.replace(",","")))
test_data['Market Cap'] = test_data['Market Cap'].apply(lambda e: float(e.replace(",","")))

training_data['Volume'] = training_data['Volume'].apply(lambda e: float(e.replace(",","")) if e != '-' else '-')
test_data['Volume'] = test_data['Volume'].apply(lambda e: float(e.replace(",","")) if e != '-' else '-')

In [111]:
test_data

              Open     High      Low    Close        Volume    Market Cap
Date
2017/8/01  2871.30  2921.35  2685.61  2718.26  1.324670e+09  4.732180e+10
2017/8/02  2727.13  2762.53  2668.59  2710.67  1.094950e+09  4.495080e+10
2017/8/03  2709.56  2813.31  2685.14  2804.73  8.047970e+08  4.466640e+10
2017/8/04  2806.93  2899.33  2743.72  2895.89  1.002120e+09  4.627620e+10
2017/8/05  2897.63  3290.01  2874.83  3252.91  1.945700e+09  4.777820e+10
2017/8/06  3257.61  3293.29  3155.60  3213.94  1.105030e+09  5.372090e+10
2017/8/07  3212.78  3397.68  3180.89  3378.94  1.482280e+09  5.298730e+10

In [112]:
from sklearn.model_selection import train_test_split

temp = training_data[training_data['Volume'] != '-']

X_temp = temp.loc[:, ['Open', 'Close', 'Low', 'High', 'Market Cap']]
y_temp = temp.loc[:, ['Volume']]

X_temp_train, X_temp_test, y_temp_train, y_temp_test = train_test_split(X_temp, y_temp, test_size=0.1, random_state=20)

### Pakai Linear Regression untuk mengisi Missing Values pada Kolom Volume

In [113]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import explained_variance_score

reg = LinearRegression().fit(X_temp, y_temp)

y_pred = reg.predict(X_temp_test)

explained_variance_score(y_temp_test, y_pred)

0.9012728856978025

In [114]:
need_fill = training_data[training_data['Volume'] == '-'].loc[:, ['Open', 'Close', 'Low', 'High', 'Market Cap']]
training_data.loc[need_fill.index.to_list(), ['Volume']] = reg.predict(need_fill)

In [115]:
training_data

              Open     High      Low    Close           Volume    Market Cap
Date
2013/4/28   135.30   135.98   132.10   134.21 -77722615.178571  1.500520e+09
2013/4/29   134.44   147.49   134.00   144.54 -45834207.602472  1.491160e+09
2013/4/30   144.00   146.93   134.05   139.00 -55816196.068126  1.597780e+09
2013/5/01   139.00   139.89   107.72   116.99 -11651543.760081  1.542820e+09
2013/5/02   116.38   125.60    92.28   105.21  -1315126.751554  1.292190e+09
...            ...      ...      ...      ...              ...           ...
2017/7/27  2538.71  2693.32  2529.34  2671.78      789104000.0  4.181650e+10
2017/7/28  2679.73  2897.45  2679.73  2809.01     1380100000.0  4.414440e+10
2017/7/29  2807.02  2808.76  2692.80  2726.45      803746000.0  4.624670e+10
2017/7/30  2724.39  2758.53  2644.85  2757.18      705943000.0  4.489070e+10
2017/7/31  2763.24  2889.62  2720.61  2875.34      860575000.0  4.553580e+10

[1556 rows x 6 columns]

In [116]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))

X_train = pd.DataFrame(scaler.fit_transform(training_data), columns=['Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'])
X_test = pd.DataFrame(scaler.transform(test_data), columns=['Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'])

### Create Training Data

In [117]:
def create_trainer(timeseries, steps):
    X = []
    Y = []
    for i in range(steps-1, len(timeseries)-1):
        re = []
        for j in range(i-steps+1, i+1):
            re.append(timeseries[j])
        X.append(re)
        Y.append(timeseries[i+1])
    X = np.array(X)
    X = X.reshape([X.shape[0], steps, 1])
    Y = np.array(Y)
    return X, Y

def create_trainer_extended(timeseries, steps):
    X = []
    Y = []
    for i in range(steps-1, len(timeseries)-1):
        re = []
        for j in range(i-steps+1, i+1):
            r = []
            for k in range(len(timeseries[j])):
                r.append(timeseries[j][k])
            re.append(r)
        Y.append(timeseries[i+1])
        X.append(re)
    return np.array(X), np.array(Y)

X, Y = create_trainer_extended(X_train.to_numpy(), 32)

In [118]:
data = pd.concat([training_data, test_data])
X_concat = pd.DataFrame(scaler.transform(data), columns=['Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'])

In [119]:
data

              Open     High      Low    Close           Volume    Market Cap
Date
2013/4/28   135.30   135.98   132.10   134.21 -77722615.178571  1.500520e+09
2013/4/29   134.44   147.49   134.00   144.54 -45834207.602472  1.491160e+09
2013/4/30   144.00   146.93   134.05   139.00 -55816196.068126  1.597780e+09
2013/5/01   139.00   139.89   107.72   116.99 -11651543.760081  1.542820e+09
2013/5/02   116.38   125.60    92.28   105.21  -1315126.751554  1.292190e+09
...            ...      ...      ...      ...              ...           ...
2017/8/03  2709.56  2813.31  2685.14  2804.73      804797000.0  4.466640e+10
2017/8/04  2806.93  2899.33  2743.72  2895.89     1002120000.0  4.627620e+10
2017/8/05  2897.63  3290.01  2874.83  3252.91     1945700000.0  4.777820e+10
2017/8/06  3257.61  3293.29  3155.60  3213.94     1105030000.0  5.372090e+10
2017/8/07  3212.78  3397.68  3180.89  3378.94     1482280000.0  5.298730e+10

[1563 rows x 6 columns]

In [120]:
X_, Y_ = create_trainer_extended(X_concat[-(7+32):].to_numpy(), 32)

X_.shape

(7, 32, 6)

### Use Keras to Get Trained Weight for Our LSTM Model

**Keras hanya digunakan untuk menghitung weights atau params sehingga bisa menguji model LSTM buatan sendiri**

In [121]:
from keras import Sequential
from keras.layers import LSTM, Dense

model = Sequential()
model.add(LSTM(50, input_shape=(32, 6)))
model.add(Dense(50, activation='linear'))
model.add(Dense(6, activation='linear'))

model.compile(loss='mae', optimizer='adam')

model.fit(X, Y, epochs=50, verbose=False)

In [122]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_2 (LSTM)                (None, 50)                11400
_________________________________________________________________
dense_4 (Dense)              (None, 50)                2550
_________________________________________________________________
dense_5 (Dense)              (None, 6)                 306
=================================================================
Total params: 14,256
Trainable params: 14,256
Non-trainable params: 0
_________________________________________________________________

In [123]:
LSTM    = model.layers[0].get_weights()
Dense1  = model.layers[1].get_weights()
Dense2  = model.layers[2].get_weights()

In [124]:
model.predict(X_)

array([[0.9707054 , 0.9622471 , 0.98591727, 0.9515428 , 0.39704144,
        0.97800046],
       [0.90491235, 0.91217357, 0.9128221 , 0.89812905, 0.47317573,
        0.9255722 ],
       [0.9241648 , 0.92331064, 0.93837976, 0.9087273 , 0.43168515,
        0.93880194],
       [0.94602513, 0.9387496 , 0.9629997 , 0.927452  , 0.39066127,
        0.9561247 ],
       [0.9674556 , 0.9634531 , 0.9815433 , 0.94902045, 0.4237715 ,
        0.9779224 ],
       [1.1077236 , 1.1156574 , 1.1106656 , 1.0709381 , 0.61775315,
        1.1018543 ],
       [1.0643058 , 1.0647659 , 1.0799747 , 1.0518081 , 0.47914103,
        1.0794148 ]], dtype=float32)

In [125]:
X_test

       Open      High       Low     Close    Volume  Market Cap
0  0.971602  0.973145  0.944173  0.916998  0.530566    0.977539
1  0.921625  0.918854  0.938040  0.914371  0.443939    0.927741
2  0.915534  0.936213  0.944004  0.946921  0.334523    0.921768
3  0.949288  0.965618  0.965114  0.978468  0.408933    0.955578
4  0.980729  1.099168  1.012360  1.102018  0.764755    0.987125
5  1.105518  1.100289  1.113539  1.088532  0.447740    1.111940
6  1.089978  1.135973  1.122652  1.145632  0.590000    1.096532

### Get Model Wesult Weights

In [126]:
units = int(int(model.layers[0].trainable_weights[0].shape[1])/4)
print("No units: ", units)

U = model.layers[0].get_weights()[0]
W = model.layers[0].get_weights()[1]
b = model.layers[0].get_weights()[2]

W_i = W[:, :units]
W_f = W[:, units: units * 2]
W_c = W[:, units * 2: units * 3]
W_o = W[:, units * 3:]

print()
print(W_i.shape)
print(W_f.shape)
print(W_c.shape)
print(W_o.shape)

U_i = U[:, :units]
U_f = U[:, units: units * 2]
U_c = U[:, units * 2: units * 3]
U_o = U[:, units * 3:]

print()
print(U_i.shape)
print(U_f.shape)
print(U_c.shape)
print(U_o.shape)

b_i = b[:units]
b_f = b[units: units * 2]
b_c = b[units * 2: units * 3]
b_o = b[units * 3:]

No units:  50

(50, 50)
(50, 50)
(50, 50)
(50, 50)

(6, 50)
(6, 50)
(6, 50)
(6, 50)

### Create LSTM With **Our Model**

In [127]:
modelku = neuralnetwork.Sequential()

modelku.add(layers.LSTM(50, input_shape=(32, 6)))
modelku.add(layers.Dense(50, activation=activations.ReLU))
modelku.add(layers.Dense(6, activation=activations.ReLU))

modelku.summary()

Model: Sequential
================================================================================
Layer (type)                       Output Shape                       Param #
================================================================================
lstm_1 (LSTM)                      (None, 50)                         11400
--------------------------------------------------------------------------------
dense_1 (Dense)                    (None, 50)                         2550
--------------------------------------------------------------------------------
dense_2 (Dense)                    (None, 6)                          306
================================================================================
Total params: 14,256

In [128]:
modelku.layers[0].forward_propagation(X_[0])
modelku.layers[0].neurons

[0.9999999999993914,
 0.999999999999438,
 0.9999999999993887,
 0.999999999999889,
 0.9999999999521643,
 0.9999999999958624,
 0.9999999999987763,
 0.9999999999999876,
 0.9999999999963629,
 0.9999999999996285,
 0.9999999999978919,
 0.9999999999993117,
 0.999999999999897,
 0.9999999999932871,
 0.9999999999997911,
 0.9999999999971607,
 0.9999999999998053,
 0.9999999999999549,
 0.9999999999989708,
 0.9999999999999112,
 0.9999999999997864,
 0.9999999999988329,
 0.9999999999991571,
 0.9999999999998725,
 0.999999999999996,
 0.9999999999997358,
 0.999999999994905,
 0.999999999998952,
 0.9999999999959879,
 0.999999999999678,
 0.9999999999989084,
 0.9999999999999785,
 0.9999999999995071,
 0.9999999999997171,
 0.999999999998608,
 0.9999999999998321,
 0.9999999999991627,
 0.9999999999999567,
 0.9999999999999949,
 0.9999999999993066,
 0.9999999999987843,
 0.9999999999882041,
 0.9999999999891824,
 0.9999999999992373,
 0.9999999999999896,
 0.9999999999999873,
 0.9999999999997453,
 0.9999999999996325,
 0.9999999999998626,
 0.9999999999999418]

In [129]:
a = np.transpose(Dense1[0]).tolist() # 50 50
b = Dense1[1].tolist() # 50

for i in range(len(a)):
    a[i].insert(0, b[i])

print(np.array(a).shape)

modelku.layers[1].set_weights(a)

(50, 51)

In [130]:
a = np.transpose(Dense2[0]).tolist() # 50 6
b = Dense2[1].tolist() # 6

for i in range(len(a)):
    a[i].insert(0, b[i])

modelku.layers[2].set_weights(a)

In [131]:
# unit 50, feature 6
# i f c o
print(W_i.shape)
print(U_i.shape)
print(b_i.shape)
print(b_i.reshape([1, b_i.shape[0]]).shape)

Ui = U_i.transpose()
Uf = U_f.transpose()
Uc = U_c.transpose()
Uo = U_o.transpose()

bi = b_i.reshape([1, b_i.shape[0]])
bf = b_f.reshape([1, b_f.shape[0]])
bc = b_c.reshape([1, b_c.shape[0]])
bo = b_o.reshape([1, b_o.shape[0]])

modelku.layers[0].set_w(W_f, W_i, W_c, W_o, bf, bi, bc, bo)
modelku.layers[0].set_u(Uf, Ui, Uc, Uo)

(50, 50)
(6, 50)
(50,)
(1, 50)

In [132]:
# Hasil Prediksi 1 Agustus 2017
modelku.predict(X_)

array([[0.08030696, 0.25543685, 0.08818589, 0.20140338, 0.04855523,
        0.17657139]])

### Result

Rencananya akan dibandingkan perhitungan model keras dengan model buatan sendiri dengan melakukan inisiasi weights dan state awal LSTM keras. Namun, ternyata nilai h dan C awal hasil output gate tidak ditemukan cara mengambilnya sehingga hasilnya tetap random. Namun perhitungan sudah dapat dilakukan dengan baik, dengan inisiasi sesuai slide perkuliahan sudah mendapat hasil yang sama persis.